.header{
	margin:10px auto;
	width:500px;
	
}

.h3{
	width:200px;
	height:40px;
	background:#8f7a66;
	text-align: center;
	border-radius:6px;
	line-height:40px;
}
.newgame{
	text-decoration:none;
	
}
.body{
	margin:20px auto;
	width: 460px;
	height: 460px;
	padding:20px;
	background:#bbada0;
	border-radius:10px;
	position:relative;
} 
.body .grid-cell{
	width:100px;
	height:100px;
	border-radius:6px;
	background:#ccc0b3;
	position:absolute;
}
.body .number-cell{
	border-radius:6px;
	position:absolute;
	background:red;
	font:bold 50px Arial;
	text-align:center;
	line-height:100px;	
}
